@import 'variable';
@import 'mixin';
@import 'theme';

@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;600;700&display=swap');

@include use-theme(1, 'theme1');
@include use-theme(2, 'theme2');
@include use-theme(3, 'theme3');

html,
body {
  min-height: 99%;
}

* {
  font-family: 'Spartan', sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @media screen and (max-width: 450px) {
    font-size: 1.25rem;
  }
}

body,
.container {
  @include flex-column;
}

body {
  align-items: center;
  justify-content: center;
  padding: 32px 16px;

  .container {
    gap: 24px;
    align-items: center;
    max-width: 540px;
    width: 100%;

    header {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      width: 100%;

      .toggle {
        @include flex-row;
        align-items: flex-end;
        gap: 12px;
        h2 {
          font-size: 0.7rem;
        }
        .switch-toggle {
          .label {
            @include flex-row;
            justify-content: space-around;
            padding: 1px 2px;
            label {
              font-size: 0.7rem;
            }
          }
          .radio {
            @include flex-row;
            padding: 6px 8px;
            gap: 4px;
            justify-content: space-around;
            border-radius: 30px;

            &:hover {
              cursor: pointer;
            }

            .radio__input {
              @include flex-row;
              input {
                opacity: 0;
                width: 0;
                height: 0;
              }

              .radio__control {
                display: block;
                width: 0.5em;
                height: 0.5em;
                border-radius: 50%;
              }
            }
          }
        }
      }
    }

    main {
      width: 100%;
      .screen-display {
        @include flex-column;
        position: relative;
        padding: 32px 40px;
        height: 120px;
        border-radius: 8px;
        margin-bottom: 24px;
        justify-content: center;
        align-items: flex-end;

        @media screen and (max-width: 530px) {
          overflow-x: scroll;
        }

        p {
          font-size: 2rem;
        }

        p.operator {
          font-size: 1rem;
          position: absolute;
          margin: 8px;
          top: 0;
          left: 0;
        }
      }

      .keypad {
        display: grid;
        padding: 32px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 24px;
        border-radius: 8px;

        button {
          padding: 16px;
          border-radius: 8px;
          border: none;

          &:active {
            box-shadow: none;
            transform: translateY(4px);
          }

          &:hover {
            cursor: pointer;
          }

          @media screen and (max-width: 450px) {
            padding: 8px 14px;
          }
        }

        .reset-button {
          grid-column-start: 1;
          grid-column-end: span 2;
        }
        .equal-button {
          grid-column-start: 3;
          grid-column-end: span 2;
        }
        .text-button {
          font-size: 1.1rem;
        }
      }
    }
  }
}

.attribution,
.attribution a {
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  line-height: 160%;
}

.attribution {
  margin-top: 32px;
  padding: 12px;
  border-radius: 8px;

  a {
    font-weight: 700;
    text-decoration: none;
  }
}

@media screen and (max-width: 375px) {
  * {
    font-size: 1.1rem;
  }

  body .container main .keypad {
    gap: 16px;
    padding: 20px;

    button {
      padding: 8px 8px;
    }
  }
}

@media screen and (max-width: 500px) {
  body .container main .screen-display {
    padding: 16px;
    p {
      font-size: 1.6rem;
    }

    button {
      padding: 8px 8px;
    }
  }
}
